<!-- <li>
    <div class='user'>
            <h2>ALL FACESPACE MEMBERS</h2>
            <p class='userid'>#<%= user._id %></p>
            <h1 class='username'>Type: <%= user.name %><h1>
        <div class='userinfo'>
            <p class='userfriends'><%= user.friends %></p>
            <img class= "userimage"src="<%= user.avatarUrl %>" alt="">
        </div>
    </div>
</li> -->